#root {
  margin: 0;
  text-align: center;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
button {
  color: white;
  font-weight: 700;
}
.container-right {
  background-color: white;

  color: black;
  padding: 30px;
}
.container {
  display: flex;
}
